table { 
    border-collapse: collapse; 
    font-family: Calibri, sans-serif; 
    margin-top: 20px;
}

colgroup, tbody { 
    border: solid medium; 
}

td { 
    border: solid thin; 
    height: 2.8em; 
    width: 2.8em; 
    text-align: center; 
    padding: 0; 
}

caption {
    margin-bottom: 20px;
}

.btn-group button {
    margin-top: 10px;
    height: 38px;
    width: 120px;
}

td.number.active {
    background-color:#E3F2FD;
}